body {
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
}

#container {
	width: 100%;
	max-width: 1200px;
}

header {
	display: flex;
	justify-content: space-between;
}

#title{
    font-size: 1.3em;
}

#description{
    font-size: 00.9em;
}

nav {
    display: flex;
    align-items: flex-start;
}

nav ul{
    display: flex;
}

nav li {
	list-style: none;
	padding-left: 70px;
    font-size: 0.9em;
}

#filters{
    display: flex;
}

#buttons{
    padding-right: 50px;
}

footer{
    display: flex;
}