body {
	font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}

.logo img {
    width: auto;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 3em;
}

header .suscribe_mobile {
    display: none;
}

header a:link {
    text-decoration: none;
    color: black;
}
header a:visited {
    text-decoration: none;
    color: black;
}
header a.suscribe__link:link {
    color:dodgerblue;
    font-weight: bold;
}
header a.suscribe__link:visited {
    color: dodgerblue;
    font-weight: bold;
}
header a:hover {
    color: dodgerblue;
    border-top: dodgerblue solid 1px;
}



@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
    header .navbar ul li.suscribe {
        display: none;
    }
    header .logo {
        display: flex;
        justify-content: space-between;
        align-content: center
    }
    
    header .suscribe_mobile {
        display: block;
        padding: 1em;
    }
    header a:link {
        text-decoration: none;
        color: black;
    }
    header a:visited {
        text-decoration: none;
        color: black;
    }
    header a.suscribe__link:link {
        color:dodgerblue;
        font-weight: bold;
    }
    header a.suscribe__link:visited {
        color: dodgerblue;
        font-weight: bold;
    }
    header a:hover {
        color: dodgerblue;
        border-bottom: dodgerblue solid 1px;
        border-top: none;
    }

}