body {
	font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}

.logo img {
    width: auto;
    padding-top: 20px;
}


.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: space-between;
}

.navbar li {
    padding: 30px;
    border: transparent solid 3px;
    width: auto;
    text-align: center;
}

header .suscribe_mobile {
    display: none;
}

header a:link {
    text-decoration: none;
    color: black;
    
}
header a:visited {
    text-decoration: none;
    color: black;
}
header a.suscribe__link:link {
    color:dodgerblue;
    font-weight: bold;
}
header a.suscribe__link:visited {
    color: dodgerblue;
    font-weight: bold;
}
header li:hover {
    border-top: dodgerblue solid 3px;
    
}
main{
    padding: 0 20px;
}
.intro__title{
    font-size: 20px;
}

.filters__btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
}

.filters__btn__title {
    display: flex;
    align-items: stretch;
    font-weight: bolder;
}

.btns{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.btn {
    font-weight: bolder;
    padding:  0 30px 0 0;
    border: lightgray solid 2px;
    border-radius: 50px;
}

.btn i {
    width: 40px;
    text-align: center;
    border: lightskyblue solid 2px;
    background-color: lightskyblue;
    color: darkblue;
    border-radius: 50%;
    padding: 10px;
}
.filters__info i{
    width: 40px;
    text-align: center;
    border: lightgray solid 2px;
    color: blue;
    border-radius: 50%;
    padding: 10px;
}






@media screen and (max-width: 768px) {
    
    header {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    header ul {
        border-bottom: gainsboro solid 3px;
    }
    header .navbar ul li.suscribe {
        display: none;
    }
    header .logo {
        display: flex;
        justify-content: space-between;
        align-content: center
    }
    .navbar ul {
        margin:0;
        padding: 0;
        
    }
    .navbar li {
        width: 50%;
        text-align: center;
        border: transparent solid 3px;
        padding: 30px 0;

    }
    
    header .suscribe_mobile {
        display: block;
        padding-top: 30px;
        border: transparent solid 3px;
    }
    header a:link {
        text-decoration: none;
        color: black;
    }
    header a:visited {
        text-decoration: none;
        color: black;
    }
    header a.suscribe__link:link {
        color:dodgerblue;
        font-weight: bold;
    }
    header a.suscribe__link:visited {
        color: dodgerblue;
        font-weight: bold;
    }
    header a:hover {
        color: dodgerblue;

    }

    Header li:hover{
        color: dodgerblue;
        border-bottom: dodgerblue solid 3px;
        border-top: none;
    }
    .suscribe_mobile:hover {
        border-top: dodgerblue solid 3px;
    }
    .search {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .filters .btns{
        padding: 0;
    }
.filters {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

    .filters__btn{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        list-style: none;
    }

    .btns {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .filters__btn__title {
        align-self: flex-start;
        flex-grow: 1;
    }
}
